h1 {
    color: #323031;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFC857;
    border-radius: 25px;

}

p {
    color: rgb(50, 50, 10);
    text-align: right;
    font-size: large;
}

h3 {
    text-align: right;
    text-shadow: 5cap;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("img/gradient-background-mixed-with-blue-and-yellow-colors-you-can-use-this-background-for-presentations-banners-posters-and-invitations-free-photo.webp");
    background-repeat: no-repeat;
    background-position: center;
}

h1:hover {
    background-color: #ffc7578b;
    border: 5px solid #084C61;
}

.sticky {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #FFC857;
    border: 2px solid #084C61;
    border-radius: 5px;
    color: #323031;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;

}

.labeltext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    color: #323031;
    background-color: #157a85;
    text-shadow: #FFC857;
}

.words {
    text-align: center;
}

.floatleft {
    float: left;
    margin: 0px 10px 0px 0px;
}

.linktovideo {
    background-color: #084C61;
    color: #FFC857;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-size: x-small;
    border: solid #323031;
    padding: 2px
}