
.background-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}
body{
    background-color: rgb(26, 33, 168);
}
.page-hero {
    position: relative;
    overflow: hidden;
}

.background-video-content {
    position: relative;
    z-index: 1;
}

video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.MOPI {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    text-align: center;
    opacity: 1.0;
    color: yellow;
}

.exhibits{
    background-color: yellow;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid blue;
    border-radius: 50;
    padding: 20;
}
.images-container{
    flex-direction: row;
    display: flex;
    justify-content: left;
    background-color: aliceblue;
}
.images img{
    width: 200px;
}
.images{
    color: rgb(60, 54, 223);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(229, 229, 204);
    padding: 20px;
}
p {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    position: relative;
}
p::after {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(62, 33, 166);
    transition: width .2s;
}

p:hover::after {
    width: 100%;
}
.linkeypoo {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    position: relative;
}
.linkeypoo::after {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(18, 35, 141);
    transition: width .2s;
}

.linkeypoo:hover::after {
    width: 100%;
}
.linkeypoo-container {
    flex-direction: row;
    display: flex;
    justify-content: left;
    background-color: rgb(101, 165, 208);
}
.linkeypoo {
    color: rgb(53, 52, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    background-color: rgb(121, 121, 63);
    padding: 10px;
}
.tickets-card-parents {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    color: rgb(53, 52, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    padding: 10px;
} 
.about-us-card-parents {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    color: rgb(53, 52, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    padding: 10px;
}
.concerts-card-parents {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    color: rgb(53, 52, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    padding: 10px;
}
.exhibits-card-parents {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    color: rgb(53, 52, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    padding: 10px;
}
a {
    color: rgb(101, 165, 208);
}